<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongguo.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.hongguo.bean.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_gender" jdbcType="BIT" property="userGender" />
    <result column="user_salary" jdbcType="DECIMAL" property="userSalary" />
    <result column="user_birthday" jdbcType="TIMESTAMP" property="userBirthday" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, user_gender, user_salary, user_birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hongguo.bean.User">
    insert into t_user (id, user_name, user_gender, 
      user_salary, user_birthday)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userGender,jdbcType=BIT}, 
      #{userSalary,jdbcType=DECIMAL}, #{userBirthday,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hongguo.bean.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="userSalary != null">
        user_salary,
      </if>
      <if test="userBirthday != null">
        user_birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=BIT},
      </if>
      <if test="userSalary != null">
        #{userSalary,jdbcType=DECIMAL},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hongguo.bean.User">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=BIT},
      </if>
      <if test="userSalary != null">
        user_salary = #{userSalary,jdbcType=DECIMAL},
      </if>
      <if test="userBirthday != null">
        user_birthday = #{userBirthday,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hongguo.bean.User">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_gender = #{userGender,jdbcType=BIT},
      user_salary = #{userSalary,jdbcType=DECIMAL},
      user_birthday = #{userBirthday,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>